* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 56px 0;
    width: 100%;
}
  
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}



/*

NAVIGATION

*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}


.nav__img{
    height: 40px;
    width: 150px;
}